body {
	padding-top: 60px;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

#header h1 {
	color: #fff;
	float: left;
	margin: 0 40px 0 0;
	font-size: 20px;
    animation: h1 3.7s ease;
}

#header .ant-menu {
	border: 0;
}

#content {
	background: linear-gradient(-45deg, #6754d0, #89e0ae);
	padding: 40px 0;
	min-height: calc(100vh - 133px);
	background-size: 300% 300%;
	animation: gradient 7s ease infinite;
}

.container {
	padding: 0 50px;
}

@keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
}
@keyframes h1 {
   0% {
     opacity: 0;
     transform:  translate(-170px, 0px)  ;
   }
   100% {
     opacity: 1;
     transform:  translate(0px, 0px)  ;
   }
 }